.main-layout {
    min-height: 90vh;
}

.footer {
    height: 60px;
    color: #ffff;
    background-color: #33CCCC;

}

.pagination {
    width: 100%;
}

.pagination li {
 border: 1px solid #FFF;
 height: 40px;
 width: 40px;
 margin-left: 1px;
 margin-right: 1px;
 text-align: center;
 padding-top: 5px;
 font-size: 18px;
 
}

.pagination li a {
    color: #000000;
}